.btn{
    /* border-radius: 50%; */
    border: none;
    background-color: chartreuse;
    float: right;
    padding: 2px 5px;
    /* border-bottom: 1px solid green; */
}

.todoitem{
    background-color: #f4f4f4;
    border-bottom: 1px solid grey;
    padding-top: 20px;
    color: black;
}

.add-btn{
    background-color: lightgray;
    border: 1px solid grey;
}